# MONGODB_URI="mongodb+srv://neerajyadav5710_db_user:TJVeW8Lj7HxqFL2l@cluster0.yqu3mih.mongodb.net/fleet_asset_management?appName=Cluster0"
MONGODB_URI=mongodb://127.0.0.1:27017/fleet_asset_management
VITE_API_BASE_URL=http://localhost:4000
PORT=4000
VITE_CLERK_PUBLISHABLE_KEY=